.blog {
    padding-top: 68px;

    &_content {
        display: flex;
        flex-wrap: wrap;
        background-color: $ba-bg-dark;
        &__item {
            display: flex;
            &--reverse {
                flex-direction: row-reverse;
            }
            width: 50%;
            &-img {
                display: inline-block;
                width: 50%;
            }
        }
    }

    &-article {
        width: auto;
        height: auto;
        box-sizing: border-box;
        padding: 50px 35px 75px;
        color: $font-light;
        transition: $easeIn-2s;
        &:hover {
            opacity: 0.7;
        }

        &__date {
            @include crimson-italic;
            font-size: 12px;

            &-author {
                text-transform: capitalize;
            }
        }

        &__headline {
            text-transform: uppercase;
            @include montserrat-regular;
        }

        &__title {
            @include crimson-regular;
            height: auto;
            opacity: 0.7;
        }
    } // end article

} // end blog