.footer {
  padding: 50px 0 35px;
  background-image: url(../img/footer/background.png);

  &-logo {
    flex: 0 0 20%;
    display: inline-flex;
    align-items: center;
    max-width: 20%;
    font-size: 1.286em;
    @include montserrat-regular;
    color: $font-light;
    &__img {

    }
  }

  &-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    // justify-content: space-between; // плохая практика!
    height: auto;
    margin-top: 45px;
    padding-bottom: 60px;
    color: $font-lgrey;
    &-main {
      flex-basis: calc(370px - 14px);
      flex-grow: 1;
      padding-right: 14px;
      box-sizing: border-box;

      @media screen and (max-width: 1024px) {
        padding-left: 14px;
      }

      &__descript {
        @include crimson-regular;
        font-size: 14px;
        margin-bottom: 45px;
        color: $font-fgrey;
      }

      &__headline {
        @include montserrat-regular;
        font-size: 13px;
      }
    } // end -main

    &-form {
      position: relative;
      display: flex;
      flex-wrap: wrap; // если вагон переполнится, выкидываем лишних пассажиров
      flex-direction: row;
      // justify-content: space-between; // плохая практика!
      justify-content: flex-start; // чтоюы выкинутые пассажиры были изначально на стартовой отметке, а не где то там
      flex-basis: calc(770px - 14px); //пусть формула сама считает 770px - размер в макете
      flex-grow: 1; // пусть элемент будет жадным, и растягивается во всю ширину
      padding-left: 14px;
      box-sizing: border-box; // чтобы эмигранты не смогли пересечь границу

      @media screen and (max-width: 1024px) {
        padding-right: 14px;
      }

      &__item {
        box-sizing: border-box;
        width: 100%;
        height: 100px;
        padding: 25px 20px;
        border: 1px solid $brd-grey-d;
        background-color: rgba(0, 0, 0, 0);
        color: $font-light;
        transition: $easeIn-2s;
        &--input {
          width: 40%;
          flex-basis: 320px; // а тут указал явно
          flex-grow: 1;
          height: 50px;
        }
        &::placeholder {
          @include crimson-italic;
          font-size: 13px;
          text-transform: capitalize;
        }
        &:focus {
          background-color: rgba(0, 0, 0, 0.3);
        }
      }

      &__mail {

      }

      &__phone {
      }

      &__submit {
        align-self: flex-end;
        width: 135px;
        height: 40px;
        border: none;
        background-color: $bg-submit;
        @include montserrat-regular;
        color: $font-light;
        transition: $easeIn-2s;
        &:hover {
          background-color: $bg-submit-hover;
        }
      }

      input {
        margin-right: 14px;
        margin-bottom: 28px;

        &:nth-child(4n+2) {
          margin-right: 0;
          margin-left: 14px;
        }

        &:nth-child(4n+4) {
          margin-right: 0;
          margin-left: 14px;
        }

        @media screen and (max-width: 680px) {
          margin-right: 0;
          &:nth-child(4n+2) {
            margin-left: 0;
          }

          &:nth-child(4n+4) {
            margin-left: 0;
          }
        }
      }
    } // end form
    .form--item-highlight {
      &:invalid {

      }

    }
  } // end -content

  &-contacts {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    @include crimson-regular;
    color: $font-fgrey;

    &__mail {
      margin-top: 35px;
      @include montserrat-regular;
      text-transform: uppercase;
      color: $font-light;
    }

    &__phone {
      @include montserrat-regular;
      color: $font-light;
    }
  } // end -contacts

  &__copyright {
    display: block;
    margin-top: 60px;
    padding: 40px 0;
    border-top: 1px solid $brd-grey-d;
    @include crimson-italic;
    color: $font-fgrey;
  }
} // end footer
