.history{

	&-section{
		padding: 55px 0 82px;
		background: $bs-hist;

		&__body{
			// margin-top: 44px;
		}
	} // section

	.col-6{
		flex: 0 0 50%;
		flex-basis: 400px;
		flex-grow: 1;
		box-sizing: border-box;
		position: relative;
		padding:{
			right: 22px;
			left: 22px;
		}
		&:nth-child(1){
			padding:{
				left: 0;
			}
		}
		&:nth-child(2){
			padding:{
				right: 0;
			}
		}
		&:nth-child(3){
			padding:{
				left: 0;
			}
		}
		&:nth-child(4){
			padding:{
				right: 0;
			}
		}
	}

	.timeline{

		&-row{
			padding-top: 44px;
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			width: 100%;
			position: relative;
			&::before{
				content: '';
				position: absolute;
				top: 0;
				left: 50%;
				height: 100%;
				width: 2px;
				z-index: 5;
				background: $brd-dark;
			}
			&::after{
				content: '';
				display: table;
				clear: both;
			}

			&__bottom{
				padding-bottom: 160px;
			}

			&__end{
				padding-bottom: 68px;
			}
		}

		&-cyrcle{
			position: relative;
			left: 46.8%;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 73px;
			height: 73px;
			border-radius: 50%;
			border: 2px solid $brd-dark;
				&__dark{
					width: 54px;
					height: 54px;
					left: 47.6666%;
					background: $brd-dark;
					transition: $easeOut-2s;
					&:hover {
						background: $main-link-hover;
					}
				}
				&__link {
					position: absolute;
					width: 25px;
					height: 25px;
				}
				&__icon{
					width: 25px;
					height: 23px;
					display: inline-block;
					background: url('../img/history/icon-start.png') no-repeat;
				}
				&__count{
					font:{
						size: 1.2em;
						weight: 600;
					}
					color: $font-dark;
				}
		}

		.block{
			&-1{
				position: relative;
				&::after{
					content: '';
					display: inline-block;
					position: absolute;
					top: 16px;
					right: -1.8%;
					width: 17px;
					height: 17px;
					border-radius: 50%;
					display: inline-block;
					background: $bg-dark;
				}
				top: 4px;
			}

			&-2{
				top: 46px;
				position: relative;
				&::after{
					content: '';
					display: inline-block;
					position: absolute;
					top: 7.5%;
					left: -1.1%;
					top: 16px;
					right: -1.8%;
					width: 17px;
					height: 17px;
					border-radius: 50%;
					display: inline-block;
					background: $bg-dark;
				}
			}

			&-3{
				top: 30px;
				position: relative;
				&::after{
					content: '';
					display: inline-block;
					position: absolute;
					top: 5.5%;
					right: -1.7%;
					width: 17px;
					height: 17px;
					border-radius: 50%;
					display: inline-block;
					background: $bg-dark;
				}
			}

			&-4{
				top: 72px;
				position: relative;
				&::after{
					content: '';
					display: inline-block;
					position: absolute;
					top: 5.8%;
					left: -1.2%;
					width: 17px;
					height: 17px;
					border-radius: 50%;
					display: inline-block;
					background: $bg-dark;
				}
			}

			&-5{
				position: relative;
				&::after{
					content: '';
					display: inline-block;
					position: absolute;
					top: 7.8%;
					right: -1.7%;
					width: 17px;
					height: 17px;
					border-radius: 50%;
					display: inline-block;
					background: $bg-dark;
				}
			}

			&-6{
				top: 48px;
				position: relative;
				&::after{
					content: '';
					display: inline-block;
					position: absolute;
					top: 7.8%;
					left: -1.2%;
					width: 17px;
					height: 17px;
					border-radius: 50%;
					display: inline-block;
					background: $bg-dark;
				}
			}

		}

		&-block{

			&__content{
				line-height: 1.5em;
				border: 2px solid $brd-dark;
				@include transition($easeOut-2s, color, background);

				&-right{
					position: relative;
					padding:{
						top: 26px;
						left: 56px;
						right: 21px;
						bottom: 32px;
					}
					&::before{
				    content: '';
				    position: absolute;
				    top: 16px;
				    right: 100%;
				    height: 0;
				    width: 0;
				    border: 7px solid transparent;
				    border-right: 7px solid $brd-dark;
			    }
				}
				&-left{
					position: relative;
					padding:{
						top: 26px;
						left: 21px;
						right: 56px;
						bottom: 32px;
					}
					&::before{
				    content: '';
				    position: absolute;
				    top: 16px;
				    left: 100%;
				    height: 0;
				    width: 0;
				    border: 7px solid transparent;
				    border-left: 7px solid $brd-dark;
			    }
				}

				&--title,
				&--date{
					@include montserrat-regular;
					// color: $col-d-grey;
					@include d-grey(color);
				}

				&--title{
					font:{
						size: 1em;
						weight: 700;
					}
					text-transform: uppercase;
				}

				&--date{
					font:{
						size: 0.8em;
						weight: 600;
					}
				}

				&--descript{
					margin-top: 28px;
					font-size: 1.3em;
					color: $font-dark;
				}
					&:hover{
						background: $bg-dark;
						@include transition($ease-1s, color, background);
						.timeline-block__content--title,
						.timeline-block__content--date,
						.timeline-block__content--descript{
							color: $bh-hist;
						}

					}
			} //-end .timeline-block__content

		}

		@media screen and (max-width: 768px) {
			&-row{
				padding:{
					top: 0;
					bottom: 0;
				}
				&::before{
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					left: 0;
					height: 100%;
				}

				&__bottom{
					padding-bottom: 20px;
				}
			}

			&-cyrcle{
				display: none;
			}

			&-block{

				&__content{
					&-right{
						position: relative;
						padding:{
							top: 26px;
							left: 56px;
							right: 21px;
							bottom: 32px;
						}
						&::before{
					    content: '';
					    top: 16px;
					    right: 100%;
				    }
					}
					&-left{
						position: relative;
						padding:{
							top: 26px;
							left: 21px;
							right: 56px;
							bottom: 32px;
						}
						&::before{
					    content: '';
					    top: 16px;
					    right: 100%;
					    left: -7px;
					    border-right: 7px solid $brd-dark;
					    border-left: none;
				    }
					}
				}
			} //-end -block

			.block{
					&-3{
						top: 60px;
					}
				}
			.block{
				&-1,
				&-3,
				&-5{
					&::after{
						left: -1.1%;
					}
				}

				&-1,
				&-2,
				&-3,
				&-4,
				&-5,
				&-6{
					top: 0;
					margin-bottom: 20px;
					&:last-child{
						margin-bottom: 0;
					}
				}
			}
		}

		@media screen and (max-width: 425px) {
			.block{
				&-1{
					&::after{
						left: -2%;
					}
				}

				&-2{
					&::after{
						left: -2%;
					}
				}

				&-3{
					&::after{
						left: -2%;
					}
				}

				&-4{
					&::after{
						top: 4.2%;
						left: -2%;
					}
				}

				&-5{
					&::after{
						top: 5.8%;
						left: -2%;
					}
				}

				&-6{
					&::after{
						top: 6.8%;
						left: -2%;
					}
				}
			}

			&-block{

				&__content{
					&-right{
						position: relative;
						padding:{
							top: 16px;
							left: 14px;
							right: 24px;
							bottom: 22px;
						}
						&::before{
					    content: '';
					    top: 16px;
					    right: 100%;
				    }
					}
					&-left{
						position: relative;
						padding:{
							top: 16px;
							left: 14px;
							right: 24px;
							bottom: 22px;
						}
						&::before{
					    content: '';
					    top: 16px;
					    right: 100%;
					    left: -7px;
					    border-right: 7px solid $brd-dark;
					    border-left: none;
				    }
					}
				}
			} //-end -block
		}

		@media screen and (max-width: 375px) {
			.block{
				&-4{
					&::after{
						top: 4.2%;
						left: -1.9%;
					}
				}

				&-5{
					&::after{
						top: 5.8%;
						left: -1.9%;
					}
				}

				&-6{
					&::after{
						top: 6.8%;
						left: -1.9%;
					}
				}
			}
		}

	} //-end timeline

	@media screen and (max-width: 768px) {

		.col-6{
			&:nth-child(1){
				padding:{
					left: 22px;
					right: 0;
				}
			}
			&:nth-child(2){
				padding:{
					right: 0;
				}
			}
			&:nth-child(3){
				padding:{
					left: 22px;
					right: 0;
				}
			}
			&:nth-child(4){
				padding:{
					left: 22px;
					right: 0;
				}
			}
		}
	}

	@media screen and (max-width: 425px) {

		.col-6{
			flex: 0 0 100%;
			&:nth-child(1){
				padding:{
					left: 22px;
					right: 0;
				}
			}
			&:nth-child(2){
				padding:{
					right: 0;
					left: 22px;
				}
			}
			&:nth-child(3){
				padding:{
					left: 22px;
					right: 0;
				}
			}
			&:nth-child(4){
				padding:{
					left: 22px;
					right: 0;
				}
			}
		}
	}

}
