.ourteam {
  width: 100%;
  // height: 660px;
  padding:{
    top: 66px;
    bottom: 70px;
  }
  background-image: url(../img/ourTeam/Image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  color: $font-dark;

  &__header {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;

    &-headline {
      @include title($amsdam-regular, $font-dark);
  }

    &-title {
      margin:{
        top: 38px;
        bottom: 58px;
      }
      @include subtitle($crimson-roman, $font-dark);
  }
  } // end ourteam__header

  &__content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    // max-width: 885px;
    max-width: 970px;
    width: 100%;
    height: auto;

    &__card {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-basis: 270px;
      max-width: 270px;
      width: 100%;
      flex-grow: 1;
      height: auto;
      position: relative;
      cursor: pointer;
      &:nth-child(-n+3){
        margin:{
          right: 15px;
          left: 15px;
        }
      }
      &:nth-child(1){
        margin:{
          left: 0;
        }
      }
      &:nth-child(3){
        margin:{
          right: 0;
        }
      }

      &:hover{
        @include transition($easeInOut-2s, background-color, opacity);
      }

      @media screen and (max-width: 768px) {
        max-width: 230px;
        &:nth-child(-n+3){
          margin:{
            right: 8px;
            left: 8px;
          }
        }

        &:nth-child(1){
          margin:{
            left: 0;
          }
        }
        &:nth-child(3){
          margin:{
            right: 0;
          }
        }
      }

      @media screen and (max-width: 425px) {
        max-width: 320px;
        &:nth-child(-n+3){
          margin:{
            right: 0;
            left: 0;
            bottom: 30px;
          }
        }
        &:last-child{
          margin-bottom: 0;
        }
      }


      &-photo{
        width: 100%;
        height: auto;
      }

      &-content {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 93%;
        height: 92%;
        background-color: $bg-light;
        opacity: 0;
        @include transition($easeIn-2s, background-color, opacity);
        &:hover {
          opacity: 0.8;
        }

        &-box {
          margin-bottom: 35px;
          margin-left: 20px;
          line-height: 1.5;

          &-name {
            @include montserrat-regular;
            font-size: 13px;
          }

          &-vocation {
            @include crimson-italic;
            font-size: 14px;
          }

          &-divider {
            box-sizing: border-box;
            height: 15px;
            width: 150px;
            padding-top: 9px;
          }
        } // end -box
      } // end -content
    } // end __card
  } // __content
} // ourteam
