.portfolio {
    width: 100%;
    background-color: $bg-light;
    color: $font-dark;

    .container {
      height: inherit;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 300px;
    }

    &__header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 150px;
      text-align: center;

      &-headline {
        @include title($amsdam-regular, $font-dark);
    }

      &-title {
        @include subtitle($crimson-roman, $font-dark);
    }
    } // end portfolio__header

    &__switcher {
        text-align: center;

        &-button {
            display: inline-block;
            height: 30px;
            padding: 5px;
            border: 2px solid $brd-dark;
            background-color: $bg-light;
            @include montserrat-regular;
            font-size: 12px;
            font-weight: 600;
            color: $font-dark;
            text-transform: uppercase;
            text-decoration: none;
            cursor: pointer;
            transition: $easeIn-2s;
            &:hover {
                background-color: $bg-dark;
                color: $font-light;
            }
        }
    }

    &__content {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin: 0 auto;
      width: 100%;
      max-width: 1600px;
      height: 690px;
      background-color: #fff;

      &-box {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        font-size: 32px;
      }

      &-item {

        &-1{
            background-image: url(../img/portfolio/1.png);
            width: 25%;
            height: 64%;
        }
        &-2{
            background-image: url(../img/portfolio/2.png);
            width: 25%;
            height: 36%;
        }
        &-3{
            background-image: url(../img/portfolio/3.png);
            width: 25%;
            height: 48%;
        }
        &-4{
            background-image: url(../img/portfolio/4.png);
            width: 25%;
            height: 52%;
        }
        &-5{
            background-image: url(../img/portfolio/5.png);
            width: 25%;
            height: 32%;
        }
        &-6{
            background-image: url(../img/portfolio/6.png);
            width: 25%;
            height: 68%;
        }
        &-7{
            background-image: url(../img/portfolio/7.png);
            width: 25%;
            height: 64%;
        }
        &-8{
            background-image: url(../img/portfolio/8.png);
            width: 25%;
            height: 36%;
        }
      }

    } // __content
  } // end portfolio