//Mixins
@import 'mixins/_mixins.scss'; //mixins

// Преднастройки
@import "stylesheets/_stylesheets.scss";

// миксины:
@mixin subtitle($f-family, $color) {
	 &{
			font:{
				family: $f-family;
				size: 14px;
				weight: 550;
			}
		text-align: center;
		color: $color;
	}
}

@mixin title($f-family, $color) {
	 &{
			font:{
				family: $f-family;
				size: 20px;
				weight: 400;
			}
		text-transform: uppercase;
		text-align: center;
		color: $color;
	}
}


// Основные файлы
@import "block/_social.scss";
@import "block/header/_header.scss";
@import "block/header/_nav.scss";
@import "block/header/_hero.scss";

@import "block/_aboutus.scss";
@import "block/_services.scss";
@import "block/_history.scss";
