* {
  padding: 0;
  margin: 0;
}

a,
p,
li,
ul,
span,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

a,
button,
input {
  outline: none;
}

span {
  display: inline-block;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 13px;
}

h6 {
  font-size: 14px;
}

@font-face {
  font-family: "Exo2-Regular";
  font-weight: 400;
  src: url("../../fonts/Exo2-Regular.ttf");
}

@font-face {
  font-family: "Exo2-Medium";
  font-weight: 500;
  src: url("../../fonts/Exo2-Medium.ttf");
}

@font-face {
  font-family: "Exo2-Black";
  font-weight: 900;
  src: url("../../fonts/Exo2-Black.ttf");
}

html,
body {
  font-family: 'Exo2-Regular', sans-serif;
  font-size: 14px;
}

ul.inline li {
  display: inline-block;
  margin: 0 6px;
}
