* {
  padding: 0;
  margin: 0;
}

a,
p,
li,
ul,
span,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

a,
button,
input {
  outline: none;
}

span {
  display: inline-block;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 13px;
}

h6 {
  font-size: 14px;
}

@font-face {
  font-family: "Amsdam-Regular";
  font-weight: 400;
  src: url("../fonts/Amsdam Regular.ttf");
}

@font-face {
  font-family: "Crimson-Regular";
  font-weight: 400;
  src: url("../fonts/Crimson Text regular.ttf");
}

@font-face {
  font-family: "Crimson-Italic";
  font-weight: 400;
  src: url("../fonts/Crimson Text italic.ttf");
}

@font-face {
  font-family: "Crimson-Roman";
  font-weight: 400;
  src: url("../fonts/crimsontext.ttf");
}

@font-face {
  font-family: "Montserrat-Regular";
  font-weight: 400;
  src: url("../fonts/Montserrat regular.ttf");
}

html,
body {
  font-family: 'Crimson-Roman', sans-serif;
  font-size: 13px;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1170px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.icon__awards {
  display: inline-block;
  width: 38px;
  height: 41px;
  background: url("../img/about us/icon-award.png");
}

.icon__jobs {
  display: inline-block;
  width: 41px;
  height: 40px;
  background: url("../img/about us/icon-checked.png");
}

.icon__happy {
  display: inline-block;
  width: 33px;
  height: 39px;
  background: url("../img/about us/icon-dima.png");
}

.icon__reviews {
  display: inline-block;
  width: 41px;
  height: 37px;
  background: url("../img/about us/icon-briefcase.png");
}

.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60px;
  height: 12px;
}

.social-link--divider::before {
  content: '|';
}

.social-link--divider::after {
  content: '|';
}

.header {
  background: #ffffff;
  font-family: 'Montserrat-Regular', sans-serif;
  color: #3e3d3d;
}

.header-hero {
  background-image: url("../img/slider/Image.png");
}

.main-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 65px;
}

.main-nav__logo {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 20%;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 20%;
  font-size: 18px;
  font-weight: 600;
}

.main-nav__logo:visited {
  color: #757575;
}

.main-nav__logo-img {
  margin-right: 11px;
  vertical-align: inherit;
}

.main-nav__menu {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 60%;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  max-width: 60%;
  color: #aaaaaa;
}

.main-nav__menu-item {
  margin-right: 16px;
}

.main-nav__menu-item:last-child {
  margin-right: 0;
}

.main-nav__menu-link {
  font-size: 14px;
  font-weight: 550;
  text-transform: uppercase;
  color: #aaaaaa;
}

.main-nav__menu-link:hover {
  color: #555557;
}

.header-hero {
  width: 100%;
  height: 635px;
  font-family: 'Amsdam-Regular', sans-serif;
  color: #ffffff;
}

.header-hero__slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  width: 100px;
  height: 320px;
}

.heroSlide {
  display: none;
}

.slider__swich {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.aboutus-section {
  padding: 72px 0 60px 0;
  background: #e3e3e3;
}

.aboutus-card {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutus-card__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.aboutus-card__header--img {
  max-width: 100%;
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.aboutus-card__body {
  font-family: 'Amsdam-Regular', sans-serif;
  padding: 60px 70px 50px 70px;
  background: #ffffff;
}

.aboutus-card__body-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: #3e3d3d;
}

.aboutus-card__body-ceotxt {
  margin: 42px 0 32px 0;
  font-family: 'Crimson-Roman', sans-serif;
  font-size: 14px;
  font-weight: 550;
  color: #3e3d3d;
}

.aboutus-card__body-ul {
  margin-top: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Montserrat-Regular', sans-serif;
}

.aboutus-card__body-link {
  padding: 14px 26px;
  margin-right: 4px;
  font-size: 13px;
  font-weight: 600;
  color: #3e3d3d;
  background: transparent;
  border: 2px solid #3e3d3d;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
  -webkit-transition-property: background, color;
  -o-transition-property: background, color;
  transition-property: background, color;
}

.aboutus-card__body-link:last-child {
  margin-right: 0;
}

.aboutus-card__body-link:hover {
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-transition-property: background, color;
  -o-transition-property: background, color;
  transition-property: background, color;
  background: #3e3d3d;
  color: #cecece;
}

.aboutus-aboutwork {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 36px;
}

.aboutus-aboutwork__work-item {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 24.8888%;
      -ms-flex: 0 0 24.8888%;
          flex: 0 0 24.8888%;
  max-width: 24.8888%;
}

.aboutus-aboutwork__work-item:nth-child(1) {
  border-right: 1px solid #b0b0b0;
}

.aboutus-aboutwork__work-item:nth-child(2) {
  border-right: 1px solid #b0b0b0;
}

.aboutus-aboutwork__work-item:nth-child(3) {
  border-right: 1px solid #b0b0b0;
}

.aboutus-aboutwork__work-item .work-item__info {
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 13px;
  font-weight: 550;
  margin: 22px 0 28px;
  color: #3e3d3d;
}

.aboutus-aboutwork__work-item .work-item__count {
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 45px;
  font-weight: 600;
  color: #3e3d3d;
}

.services-section {
  padding: 68px 0 83px;
  background: url("../img/services/background.png") no-repeat;
}

.services-section__header--title {
  font-family: 'Amsdam-Regular', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

.services-section__header--subtitle {
  margin: 42px 0 75px 0;
  font-family: 'Crimson-Roman', sans-serif;
  font-size: 14px;
  font-weight: 550;
  text-align: center;
  color: #bfbfbf;
}

.services-section__body {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.services-section__body .services-card {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-basis: 180px;
      -ms-flex-preferred-size: 180px;
          flex-basis: 180px;
  max-width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-left: 2px solid #898989;
  border-right: 2px solid #898989;
  border-bottom: 2px solid #898989;
  padding: 0 35px 42px 35px;
  margin-right: 15px;
  position: relative;
}

.services-section__body .services-card::before, .services-section__body .services-card::after {
  content: '';
  position: absolute;
  width: 102px;
  height: 2px;
  background: #898989;
}

.services-section__body .services-card::before {
  left: 0;
}

.services-section__body .services-card::after {
  right: 0;
}

.services-section__body .services-card:last-child {
  margin-right: 0;
  margin-left: 15px;
}

.services-section__body .services-card:nth-child(3) {
  margin-left: 15px;
}

.services-section__body .services-card:nth-child(4n + 2) {
  margin-left: 15px;
}

.services-section__body .services-card__header {
  display: inherit;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services-section__body .services-card__header-icon {
  position: relative;
  top: -11px;
  width: 60px;
  display: inherit;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.services-section__body .services-card__header-icon::before {
  content: '';
  position: absolute;
  top: -8px;
  width: 60px;
  height: 40px;
}

.services-section__body .services-card__header-icon .icon__design {
  display: inline-block;
  width: 26px;
  height: 25px;
  position: relative;
  top: 2px;
  left: 2.5%;
  background: url("../img/services/icon-idea.png");
}

.services-section__body .services-card__header-icon .icon__webdesign {
  display: inline-block;
  width: 27px;
  height: 21px;
  position: relative;
  top: 2px;
  left: 2.5%;
  background: url("../img/services/icon-display.png");
}

.services-section__body .services-card__header-icon .icon__seoanalyt {
  display: inline-block;
  width: 24px;
  height: 22px;
  position: relative;
  top: 2px;
  left: 2.5%;
  background: url("../img/services/icon-trade.png");
}

.services-section__body .services-card__header-icon .icon__wordpress {
  display: inline-block;
  width: 21px;
  height: 21px;
  position: relative;
  top: 2px;
  left: 2.5%;
  background: url("../img/services/icon-wordpress.png");
}

.services-section__body .services-card__header-name {
  display: inline-block;
  text-align: center;
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  color: #d8d8d8;
}

.services-section__body .services-card__body {
  margin-top: 30px;
}

.services-section__body .services-card__body-desription {
  text-align: center;
  font-family: 'Crimson-Roman', sans-serif;
  line-height: 16px;
  font-size: 14px;
  font-weight: 550;
  color: #d8d8d8;
}

.history-section {
  padding: 55px 0 82px;
  background: #ededed;
}

.history .col-6 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding-right: 22px;
  padding-left: 22px;
}

.history .col-6:nth-child(1) {
  padding-left: 0;
}

.history .col-6:nth-child(2) {
  padding-right: 0;
}

.history .col-6:nth-child(3) {
  padding-left: 0;
}

.history .col-6:nth-child(4) {
  padding-right: 0;
}

.history .timeline-row {
  padding-top: 44px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  position: relative;
}

.history .timeline-row::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 2px;
  z-index: 5;
  background: #3e3d3d;
}

.history .timeline-row::after {
  content: '';
  display: table;
  clear: both;
}

.history .timeline-cyrcle {
  position: relative;
  left: 46.8%;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 73px;
  height: 73px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 2px solid #3e3d3d;
}

.history .timeline-cyrcle__count {
  font-size: 1.2em;
  font-weight: 600;
  color: #3e3d3d;
}

.history .timeline .block-1 {
  top: 4px;
}

.history .timeline .block-2 {
  top: 46px;
}

.history .timeline .block-3 {
  top: 30px;
}

.history .timeline .block-4 {
  top: 72px;
}

.history .timeline-block .timeline-block__icon-1, .history .timeline-block .timeline-block__icon-2, .history .timeline-block .timeline-block__icon-3, .history .timeline-block .timeline-block__icon-4 {
  position: absolute;
  width: 17px;
  height: 17px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: inline-block;
  background: #3e3d3d;
}

.history .timeline-block__icon-1 {
  top: 16px;
  right: -1.8%;
}

.history .timeline-block__icon-2 {
  top: 7.5%;
  left: -1.1%;
}

.history .timeline-block__icon-3 {
  top: 5.5%;
  right: -1.7%;
}

.history .timeline-block__icon-4 {
  top: 5.8%;
  left: -1.2%;
}

.history .timeline-block__content {
  line-height: 1.5em;
  border: 2px solid #3e3d3d;
  -webkit-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  -webkit-transition-property: color, background;
  -o-transition-property: color, background;
  transition-property: color, background;
}

.history .timeline-block__content-right {
  position: relative;
  padding-top: 26px;
  padding-left: 56px;
  padding-right: 21px;
  padding-bottom: 32px;
}

.history .timeline-block__content-right::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #3e3d3d;
}

.history .timeline-block__content-left {
  position: relative;
  padding-top: 26px;
  padding-left: 21px;
  padding-right: 56px;
  padding-bottom: 32px;
}

.history .timeline-block__content-left::before {
  content: '';
  position: absolute;
  top: 16px;
  left: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-left: 7px solid #3e3d3d;
}

.history .timeline-block__content--title, .history .timeline-block__content--date {
  font-family: 'Montserrat-Regular', sans-serif;
  color: #3e3d3d;
}

.history .timeline-block__content--title {
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
}

.history .timeline-block__content--date {
  font-size: 0.8em;
  font-weight: 600;
}

.history .timeline-block__content--descript {
  margin-top: 28px;
  font-size: 1.3em;
  color: #3e3d3d;
}

.history .timeline-block__content:hover {
  background: #3e3d3d;
  -webkit-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  transition: 0.1s ease;
  -webkit-transition-property: color, background;
  -o-transition-property: color, background;
  transition-property: color, background;
}

.history .timeline-block__content:hover .timeline-block__content--title,
.history .timeline-block__content:hover .timeline-block__content--date,
.history .timeline-block__content:hover .timeline-block__content--descript {
  color: #d3d3d3;
}
