@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

a,
p,
li,
ul,
span,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

a,
button,
input {
  outline: none;
}

span {
  display: inline-block;
}

@font-face {
  font-family: "Amsdam-Regular";
  font-weight: 400;
  src: url("../fonts/Amsdam-Regular.ttf");
}

@font-face {
  font-family: "Crimson-Regular";
  font-weight: 400;
  src: url("../fonts/Crimson-Text-regular.ttf");
}

@font-face {
  font-family: "Crimson-Italic";
  font-weight: 400;
  src: url("../fonts/Crimson-Text-italic.ttf");
}

@font-face {
  font-family: "Crimson-Roman";
  font-weight: 400;
  src: url("../fonts/crimsontext.ttf");
}

@font-face {
  font-family: "Montserrat-Regular";
  font-weight: 400;
  src: url("../fonts/Montserrat-regular.ttf");
}

@font-face {
  font-family: "Montserrat-Italic";
  font-weight: 400;
  src: url("../fonts/Montserrat-italic.ttf");
}

html,
body {
  font-family: 'Crimson-Roman', sans-serif;
  font-size: 16px;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1170px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container__wrapper {
  position: relative;
  overflow: hidden;
}

.divider {
  margin-top: -20px;
  display: inline-block;
  font-size: 25px;
  letter-spacing: -4.5px;
  color: #3e3d3d;
  -webkit-transform: scale(1, 2);
      -ms-transform: scale(1, 2);
          transform: scale(1, 2);
}

.divider--light {
  color: #ffffff;
}

.icon__awards {
  display: inline-block;
  width: 38px;
  height: 41px;
  background: url("../img/about us/icon-award.png");
}

.icon__jobs {
  display: inline-block;
  width: 41px;
  height: 40px;
  background: url("../img/about us/icon-checked.png");
}

.icon__happy {
  display: inline-block;
  width: 33px;
  height: 39px;
  background: url("../img/about us/icon-dima.png");
}

.icon__reviews {
  display: inline-block;
  width: 41px;
  height: 37px;
  background: url("../img/about us/icon-briefcase.png");
}

.header {
  background: #ffffff;
  font-family: 'Montserrat-Regular', sans-serif;
  color: #3e3d3d;
}

.header-hero {
  background-image: url("../img/slider/Image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.main-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 65px;
}

.main-nav__logo {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 20%;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 20%;
  font-size: 1.286em;
  font-weight: 600;
}

.main-nav__logo:visited {
  color: #757575;
}

.main-nav__logo-img {
  margin-right: 11px;
  vertical-align: inherit;
}

.main-nav__menu {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 60%;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  max-width: 60%;
  color: #aaaaaa;
}

.main-nav__menu-item {
  margin-right: 16px;
}

.main-nav__menu-item:last-child {
  margin-right: 0;
}

.main-nav__menu-link {
  font-size: 1em;
  font-weight: 550;
  text-transform: uppercase;
  color: #aaaaaa;
}

.main-nav__menu-link:hover {
  color: #555557;
}

.header-hero {
  width: 100%;
  height: 635px;
  font-family: 'Amsdam-Regular', sans-serif;
  color: #ffffff;
}

.header-hero__slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 100%;
  height: 320px;
  margin-top: 180px;
  text-align: center;
}

.slider-box {
  max-width: 520px;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.071em;
  line-height: 7em;
}

.slider-box__sup-headline {
  font-size: 1em;
}

.slider-box__headline {
  text-transform: uppercase;
  font-size: 2.2em;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

.slider-box__button {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 30px;
  width: 155px;
  height: 50px;
  border: 2px solid #ffffff;
  color: #ffffff;
  text-transform: capitalize;
}

.slider-box__button::after {
  content: url(../img/slider/Arrow.png);
  position: absolute;
  top: 58.2%;
  left: 50%;
  margin-left: -7.5px;
}

.heroSlide {
  display: none;
}

.slider__swich {
  position: absolute;
  top: 50%;
  margin-top: -17.5px;
  display: block;
  width: 35px;
  height: 35px;
  background: #ffffff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.slider__swich--right {
  right: 0;
}

.aboutus-section {
  padding: 72px 0 60px 0;
  background: #e3e3e3;
}

.aboutus-card {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutus-card__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.aboutus-card__header--img {
  max-width: 100%;
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.aboutus-card__body {
  font-family: 'Amsdam-Regular', sans-serif;
  padding: 60px 70px 50px 70px;
  background: #ffffff;
}

.aboutus-card__body-title {
  text-transform: uppercase;
  font-size: 1.429em;
  font-weight: 400;
  text-align: center;
  color: #3e3d3d;
}

.aboutus-card__body-ceotxt {
  margin: 42px 0 32px 0;
  font-family: 'Crimson-Roman', sans-serif;
  font-size: 1em;
  font-weight: 550;
  color: #3e3d3d;
}

.aboutus-card__body-ul {
  margin-top: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Montserrat-Regular', sans-serif;
}

@media screen and (max-width: 375px) {
  .aboutus-card__body-ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

.aboutus-card__body-link {
  padding: 14px 26px;
  margin-right: 4px;
  font-size: 0.929em;
  font-weight: 600;
  position: relative;
  color: #3e3d3d;
  background: transparent;
  border: 2px solid #3e3d3d;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
  -webkit-transition-property: background, color, background-color, padding;
  -o-transition-property: background, color, background-color, padding;
  transition-property: background, color, background-color, padding;
}

.aboutus-card__body-link:last-child {
  margin-right: 0;
}

.aboutus-card__body-link:hover {
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-transition-property: background, color, background-color, padding;
  -o-transition-property: background, color, background-color, padding;
  transition-property: background, color, background-color, padding;
  background: #3e3d3d;
  color: #ffffff;
}

@media screen and (max-width: 375px) {
  .aboutus-card__body-link {
    width: 100%;
    margin-right: 0;
    margin-bottom: 14px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .aboutus-card__body-link:last-child {
    margin-bottom: 0;
  }
  .aboutus-card__body-link:hover {
    padding: 14px 26px 14px 45px;
  }
  .aboutus-card__body-link:hover::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 15px;
    width: 20px;
    height: 1px;
    background-color: #ffffff;
  }
}

@media screen and (max-width: 768px) {
  .aboutus-card__body {
    padding: 45px 32px 30px 32px;
  }
}

@media screen and (max-width: 375px) {
  .aboutus-card__body {
    padding: 30px 24px 25px 24px;
  }
}

.aboutus-aboutwork {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 36px;
}

.aboutus-aboutwork__work-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24.8888%;
  -webkit-flex-basis: 270px;
      -ms-flex-preferred-size: 270px;
          flex-basis: 270px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.aboutus-aboutwork__work-item:nth-child(1) {
  border-right: 1px solid #b0b0b0;
}

.aboutus-aboutwork__work-item:nth-child(2) {
  border-right: 1px solid #b0b0b0;
}

.aboutus-aboutwork__work-item:nth-child(3) {
  border-right: 1px solid #b0b0b0;
}

.aboutus-aboutwork__work-item .work-item__info {
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 0.929em;
  font-weight: 550;
  margin: 22px 0 28px;
  color: #3e3d3d;
}

.aboutus-aboutwork__work-item .work-item__count {
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 2.8em;
  font-weight: 600;
  color: #3e3d3d;
}

@media screen and (max-width: 768px) {
  .aboutus-aboutwork__work-item:nth-child(1) {
    border-right: none;
  }
  .aboutus-aboutwork__work-item:nth-child(2) {
    border-right: none;
  }
  .aboutus-aboutwork__work-item:nth-child(3) {
    border-right: none;
  }
  .aboutus-aboutwork__work-item:nth-child(-n + 2) {
    margin-bottom: 30px;
    position: relative;
  }
  .aboutus-aboutwork__work-item:nth-child(-n + 2)::before {
    content: '';
    position: absolute;
    bottom: -15px;
    width: 85%;
    height: 1px;
    background-color: #b0b0b0;
  }
}

@media screen and (max-width: 425px) {
  .aboutus-aboutwork__work-item:nth-child(-n + 4) {
    margin-bottom: 30px;
    position: relative;
  }
  .aboutus-aboutwork__work-item:nth-child(-n + 4)::before {
    content: '';
    position: absolute;
    bottom: -15px;
    width: 75%;
    height: 1px;
    background-color: #b0b0b0;
  }
  .aboutus-aboutwork__work-item:last-child {
    margin-bottom: 0;
  }
  .aboutus-aboutwork__work-item:last-child::before {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .aboutus-aboutwork__work-item:nth-child(-n + 4) {
    margin-bottom: 40px;
  }
  .aboutus-aboutwork__work-item:nth-child(-n + 4)::before {
    content: '';
    bottom: -20px;
  }
  .aboutus-aboutwork__work-item:last-child {
    margin-bottom: 0;
  }
}

.services-section {
  padding: 68px 0 83px;
  background: url("../img/services/background.png") no-repeat;
}

.services-section__body {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.services-section__body .services-card {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-basis: 180px;
      -ms-flex-preferred-size: 180px;
          flex-basis: 180px;
  max-width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-left: 2px solid #898989;
  border-right: 2px solid #898989;
  border-bottom: 2px solid #898989;
  padding: 0 35px 42px 35px;
  margin-right: 15px;
  position: relative;
}

.services-section__body .services-card::before, .services-section__body .services-card::after {
  content: '';
  position: absolute;
  width: 102px;
  height: 2px;
  background: #898989;
}

.services-section__body .services-card::before {
  left: 0;
}

.services-section__body .services-card::after {
  right: 0;
}

.services-section__body .services-card:last-child {
  margin-right: 0;
  margin-left: 15px;
}

.services-section__body .services-card:nth-child(3) {
  margin-left: 15px;
}

.services-section__body .services-card:nth-child(4n + 2) {
  margin-left: 15px;
}

.services-section__body .services-card__header {
  display: inherit;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 95px;
}

.services-section__body .services-card__header-icon {
  position: relative;
  top: -11px;
  width: 60px;
  display: inherit;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services-section__body .services-card__header-icon::before {
  content: '';
  position: absolute;
  top: -8px;
  width: 60px;
  height: 40px;
}

.services-section__body .services-card__header-icon .icon__design {
  display: inline-block;
  width: 26px;
  height: 25px;
  position: relative;
  top: 2px;
  left: 2.5%;
  background: url("../img/services/icon-idea.png");
}

.services-section__body .services-card__header-icon .icon__webdesign {
  display: inline-block;
  width: 27px;
  height: 21px;
  position: relative;
  top: 2px;
  left: 2.5%;
  background: url("../img/services/icon-display.png");
}

.services-section__body .services-card__header-icon .icon__seoanalyt {
  display: inline-block;
  width: 24px;
  height: 22px;
  position: relative;
  top: 2px;
  left: 2.5%;
  background: url("../img/services/icon-trade.png");
}

.services-section__body .services-card__header-icon .icon__wordpress {
  display: inline-block;
  width: 21px;
  height: 21px;
  position: relative;
  top: 2px;
  left: 2.5%;
  background: url("../img/services/icon-wordpress.png");
}

.services-section__body .services-card__header-name {
  display: inline-block;
  text-align: center;
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 0.929em;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
}

.services-section__body .services-card__body {
  margin-top: 30px;
}

.services-section__body .services-card__body-desription {
  text-align: center;
  font-family: 'Crimson-Roman', sans-serif;
  line-height: 1.2em;
  font-size: 1em;
  font-weight: 550;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .services-section__body .services-card {
    margin-bottom: 30px;
  }
  .services-section__body .services-card:last-child {
    margin-right: 0;
    margin-left: 15px;
  }
  .services-section__body .services-card:nth-child(3) {
    margin-left: 0;
  }
  .services-section__body .services-card:nth-child(4n + 2) {
    margin-left: 15px;
    margin-right: 0;
  }
  .services-section__body .services-card:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 425px) {
  .services-section__body .services-card {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-basis: 250px;
        -ms-flex-preferred-size: 250px;
            flex-basis: 250px;
    padding: 0 22px 30px 22px;
  }
  .services-section__body .services-card:nth-child(-n+2) {
    margin-left: 0;
    margin-right: 0;
  }
  .services-section__body .services-card:nth-last-child(-n+2) {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .services-section__body .services-card:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .services-section {
    background: -o-radial-gradient(circle, #222225 0%, #2b2c31 100%);
    background: radial-gradient(circle, #222225 0%, #2b2c31 100%);
  }
}

.history-section {
  padding: 55px 0 82px;
  background: #ededed;
}

.history .col-6 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -webkit-flex-basis: 400px;
      -ms-flex-preferred-size: 400px;
          flex-basis: 400px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding-right: 22px;
  padding-left: 22px;
}

.history .col-6:nth-child(1) {
  padding-left: 0;
}

.history .col-6:nth-child(2) {
  padding-right: 0;
}

.history .col-6:nth-child(3) {
  padding-left: 0;
}

.history .col-6:nth-child(4) {
  padding-right: 0;
}

.history .timeline-row {
  padding-top: 44px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  position: relative;
}

.history .timeline-row::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 2px;
  z-index: 5;
  background: #3e3d3d;
}

.history .timeline-row::after {
  content: '';
  display: table;
  clear: both;
}

.history .timeline-row__bottom {
  padding-bottom: 160px;
}

.history .timeline-row__end {
  padding-bottom: 68px;
}

.history .timeline-cyrcle {
  position: relative;
  left: 46.8%;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 73px;
  height: 73px;
  border-radius: 50%;
  border: 2px solid #3e3d3d;
}

.history .timeline-cyrcle__dark {
  width: 54px;
  height: 54px;
  left: 47.6666%;
  background: #3e3d3d;
  -webkit-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.history .timeline-cyrcle__dark:hover {
  background: #555557;
}

.history .timeline-cyrcle__link {
  position: absolute;
  width: 25px;
  height: 25px;
}

.history .timeline-cyrcle__icon {
  width: 25px;
  height: 23px;
  display: inline-block;
  background: url("../img/history/icon-start.png") no-repeat;
}

.history .timeline-cyrcle__count {
  font-size: 1.2em;
  font-weight: 600;
  color: #3e3d3d;
}

.history .timeline .block-1 {
  position: relative;
  top: 4px;
}

.history .timeline .block-1::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 16px;
  right: -1.8%;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  display: inline-block;
  background: #3e3d3d;
}

.history .timeline .block-2 {
  top: 46px;
  position: relative;
}

.history .timeline .block-2::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 7.5%;
  left: -1.1%;
  top: 16px;
  right: -1.8%;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  display: inline-block;
  background: #3e3d3d;
}

.history .timeline .block-3 {
  top: 30px;
  position: relative;
}

.history .timeline .block-3::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 5.5%;
  right: -1.7%;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  display: inline-block;
  background: #3e3d3d;
}

.history .timeline .block-4 {
  top: 72px;
  position: relative;
}

.history .timeline .block-4::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 5.8%;
  left: -1.2%;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  display: inline-block;
  background: #3e3d3d;
}

.history .timeline .block-5 {
  position: relative;
}

.history .timeline .block-5::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 7.8%;
  right: -1.7%;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  display: inline-block;
  background: #3e3d3d;
}

.history .timeline .block-6 {
  top: 48px;
  position: relative;
}

.history .timeline .block-6::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 7.8%;
  left: -1.2%;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  display: inline-block;
  background: #3e3d3d;
}

.history .timeline-block__content {
  line-height: 1.5em;
  border: 2px solid #3e3d3d;
  -webkit-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  -webkit-transition-property: color, background;
  -o-transition-property: color, background;
  transition-property: color, background;
}

.history .timeline-block__content-right {
  position: relative;
  padding-top: 26px;
  padding-left: 56px;
  padding-right: 21px;
  padding-bottom: 32px;
}

.history .timeline-block__content-right::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #3e3d3d;
}

.history .timeline-block__content-left {
  position: relative;
  padding-top: 26px;
  padding-left: 21px;
  padding-right: 56px;
  padding-bottom: 32px;
}

.history .timeline-block__content-left::before {
  content: '';
  position: absolute;
  top: 16px;
  left: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-left: 7px solid #3e3d3d;
}

.history .timeline-block__content--title, .history .timeline-block__content--date {
  font-family: 'Montserrat-Regular', sans-serif;
  color: #3e3d3d;
}

.history .timeline-block__content--title {
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
}

.history .timeline-block__content--date {
  font-size: 0.8em;
  font-weight: 600;
}

.history .timeline-block__content--descript {
  margin-top: 28px;
  font-size: 1.3em;
  color: #3e3d3d;
}

.history .timeline-block__content:hover {
  background: #3e3d3d;
  -webkit-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  transition: 0.1s ease;
  -webkit-transition-property: color, background;
  -o-transition-property: color, background;
  transition-property: color, background;
}

.history .timeline-block__content:hover .timeline-block__content--title,
.history .timeline-block__content:hover .timeline-block__content--date,
.history .timeline-block__content:hover .timeline-block__content--descript {
  color: #d3d3d3;
}

@media screen and (max-width: 768px) {
  .history .timeline-row {
    padding-top: 0;
    padding-bottom: 0;
  }
  .history .timeline-row::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
  }
  .history .timeline-row__bottom {
    padding-bottom: 20px;
  }
  .history .timeline-cyrcle {
    display: none;
  }
  .history .timeline-block__content-right {
    position: relative;
    padding-top: 26px;
    padding-left: 56px;
    padding-right: 21px;
    padding-bottom: 32px;
  }
  .history .timeline-block__content-right::before {
    content: '';
    top: 16px;
    right: 100%;
  }
  .history .timeline-block__content-left {
    position: relative;
    padding-top: 26px;
    padding-left: 21px;
    padding-right: 56px;
    padding-bottom: 32px;
  }
  .history .timeline-block__content-left::before {
    content: '';
    top: 16px;
    right: 100%;
    left: -7px;
    border-right: 7px solid #3e3d3d;
    border-left: none;
  }
  .history .timeline .block-3 {
    top: 60px;
  }
  .history .timeline .block-1::after, .history .timeline .block-3::after, .history .timeline .block-5::after {
    left: -1.1%;
  }
  .history .timeline .block-1, .history .timeline .block-2, .history .timeline .block-3, .history .timeline .block-4, .history .timeline .block-5, .history .timeline .block-6 {
    top: 0;
    margin-bottom: 20px;
  }
  .history .timeline .block-1:last-child, .history .timeline .block-2:last-child, .history .timeline .block-3:last-child, .history .timeline .block-4:last-child, .history .timeline .block-5:last-child, .history .timeline .block-6:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 425px) {
  .history .timeline .block-1::after {
    left: -2%;
  }
  .history .timeline .block-2::after {
    left: -2%;
  }
  .history .timeline .block-3::after {
    left: -2%;
  }
  .history .timeline .block-4::after {
    top: 4.2%;
    left: -2%;
  }
  .history .timeline .block-5::after {
    top: 5.8%;
    left: -2%;
  }
  .history .timeline .block-6::after {
    top: 6.8%;
    left: -2%;
  }
  .history .timeline-block__content-right {
    position: relative;
    padding-top: 16px;
    padding-left: 14px;
    padding-right: 24px;
    padding-bottom: 22px;
  }
  .history .timeline-block__content-right::before {
    content: '';
    top: 16px;
    right: 100%;
  }
  .history .timeline-block__content-left {
    position: relative;
    padding-top: 16px;
    padding-left: 14px;
    padding-right: 24px;
    padding-bottom: 22px;
  }
  .history .timeline-block__content-left::before {
    content: '';
    top: 16px;
    right: 100%;
    left: -7px;
    border-right: 7px solid #3e3d3d;
    border-left: none;
  }
}

@media screen and (max-width: 375px) {
  .history .timeline .block-4::after {
    top: 4.2%;
    left: -1.9%;
  }
  .history .timeline .block-5::after {
    top: 5.8%;
    left: -1.9%;
  }
  .history .timeline .block-6::after {
    top: 6.8%;
    left: -1.9%;
  }
}

@media screen and (max-width: 768px) {
  .history .col-6:nth-child(1) {
    padding-left: 22px;
    padding-right: 0;
  }
  .history .col-6:nth-child(2) {
    padding-right: 0;
  }
  .history .col-6:nth-child(3) {
    padding-left: 22px;
    padding-right: 0;
  }
  .history .col-6:nth-child(4) {
    padding-left: 22px;
    padding-right: 0;
  }
}

@media screen and (max-width: 425px) {
  .history .col-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .history .col-6:nth-child(1) {
    padding-left: 22px;
    padding-right: 0;
  }
  .history .col-6:nth-child(2) {
    padding-right: 0;
    padding-left: 22px;
  }
  .history .col-6:nth-child(3) {
    padding-left: 22px;
    padding-right: 0;
  }
  .history .col-6:nth-child(4) {
    padding-left: 22px;
    padding-right: 0;
  }
}

.ourteam {
  width: 100%;
  padding-top: 66px;
  padding-bottom: 70px;
  background-image: url(../img/ourTeam/Image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  color: #3e3d3d;
}

.ourteam__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 970px;
  width: 100%;
  height: auto;
}

.ourteam__content__card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-basis: 270px;
      -ms-flex-preferred-size: 270px;
          flex-basis: 270px;
  max-width: 270px;
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: auto;
  position: relative;
  cursor: pointer;
}

.ourteam__content__card:nth-child(-n+3) {
  margin-right: 15px;
  margin-left: 15px;
}

.ourteam__content__card:nth-child(1) {
  margin-left: 0;
}

.ourteam__content__card:nth-child(3) {
  margin-right: 0;
}

.ourteam__content__card:hover {
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transition-property: background-color, opacity;
  -o-transition-property: background-color, opacity;
  transition-property: background-color, opacity;
}

@media screen and (max-width: 768px) {
  .ourteam__content__card {
    max-width: 230px;
  }
  .ourteam__content__card:nth-child(-n+3) {
    margin-right: 8px;
    margin-left: 8px;
  }
  .ourteam__content__card:nth-child(1) {
    margin-left: 0;
  }
  .ourteam__content__card:nth-child(3) {
    margin-right: 0;
  }
}

@media screen and (max-width: 425px) {
  .ourteam__content__card {
    max-width: 320px;
  }
  .ourteam__content__card:nth-child(-n+3) {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 30px;
  }
  .ourteam__content__card:last-child {
    margin-bottom: 0;
  }
}

.ourteam__content__card-photo {
  width: 100%;
  height: auto;
}

.ourteam__content__card-content {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 93%;
  height: 92%;
  background-color: #ffffff;
  opacity: 0;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  -webkit-transition-property: background-color, opacity;
  -o-transition-property: background-color, opacity;
  transition-property: background-color, opacity;
}

.ourteam__content__card-content:hover {
  opacity: 0.8;
}

.ourteam__content__card-content-box {
  margin-bottom: 35px;
  margin-left: 20px;
  line-height: 1.5;
}

.ourteam__content__card-content-box-name {
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 13px;
}

.ourteam__content__card-content-box-vocation {
  font-family: 'Crimson-Italic', sans-serif;
  font-size: 14px;
}

.ourteam__content__card-content-box-divider {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 15px;
  width: 150px;
  padding-top: 9px;
}

.portfolio {
  width: 100%;
  background-color: #ffffff;
  color: #3e3d3d;
}

.portfolio .container {
  height: inherit;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  height: 300px;
}

.portfolio__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 150px;
  text-align: center;
}

.portfolio__header-headline {
  font-family: "Amsdam-Regular", sans-serif;
  font-size: 1.429em;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #3e3d3d;
}

.portfolio__header-title {
  font-family: "Crimson-Roman", sans-serif;
  font-size: 1em;
  font-weight: 550;
  text-align: center;
  color: #3e3d3d;
}

.portfolio__switcher {
  text-align: center;
}

.portfolio__switcher-button {
  display: inline-block;
  height: 30px;
  padding: 5px;
  border: 2px solid #3e3d3d;
  background-color: #ffffff;
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 0.857em;
  font-weight: 600;
  color: #3e3d3d;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.portfolio__switcher-button:hover {
  background-color: #3e3d3d;
  color: #ffffff;
}

.portfolio__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
  height: 690px;
  background-color: #fff;
}

.portfolio__content-box {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  font-size: 2em;
}

.portfolio__content-item-1 {
  background-image: url(../img/portfolio/1.png);
  width: 25%;
  height: 64%;
}

.portfolio__content-item-2 {
  background-image: url(../img/portfolio/2.png);
  width: 25%;
  height: 36%;
}

.portfolio__content-item-3 {
  background-image: url(../img/portfolio/3.png);
  width: 25%;
  height: 48%;
}

.portfolio__content-item-4 {
  background-image: url(../img/portfolio/4.png);
  width: 25%;
  height: 52%;
}

.portfolio__content-item-5 {
  background-image: url(../img/portfolio/5.png);
  width: 25%;
  height: 32%;
}

.portfolio__content-item-6 {
  background-image: url(../img/portfolio/6.png);
  width: 25%;
  height: 68%;
}

.portfolio__content-item-7 {
  background-image: url(../img/portfolio/7.png);
  width: 25%;
  height: 64%;
}

.portfolio__content-item-8 {
  background-image: url(../img/portfolio/8.png);
  width: 25%;
  height: 36%;
}

.quality {
  max-width: 1600px;
  width: 100%;
  height: 180px;
  background-color: #2d2d2f;
}

.quality .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  height: 100%;
}

.quality__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 105px;
  margin-top: auto;
  margin-bottom: auto;
  background-image: url(../img/other/compass.png);
  background-repeat: no-repeat;
  background-position: left top;
}

.quality__content--orient {
  margin-right: 10%;
}

.quality__content__description {
  height: 75%;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  color: #ffffff;
}

.quality__content__description-title {
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 18px;
}

.quality__content__description-subtitle {
  font-family: 'Crimson-Italic', sans-serif;
  font-size: 16px;
  opacity: 0.5;
}

.quality__content__description-link {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  padding: 12px 30px;
  border: 2px solid #ffffff;
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 14px;
  color: #ffffff;
  text-transform: capitalize;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.quality__content__description-link:hover {
  background-color: #e3e3e3;
  color: #3e3d3d;
}

.blog {
  padding-top: 68px;
}

.blog_content {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #2d2d2f;
}

.blog_content__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.blog_content__item--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (max-width: 1440px) {
  .blog_content__item {
    -webkit-flex-basis: 720px;
        -ms-flex-preferred-size: 720px;
            flex-basis: 720px;
    max-width: -webkit-calc( (1440px / 2) * 100);
    max-width: calc( (1440px / 2) * 100);
  }
}

@media screen and (max-width: 1366px) {
  .blog_content__item {
    -webkit-flex-basis: 673px;
        -ms-flex-preferred-size: 673px;
            flex-basis: 673px;
    max-width: -webkit-calc( (1336px / 2) * 100);
    max-width: calc( (1336px / 2) * 100);
  }
}

.blog .article-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (max-width: 1440px) {
  .blog .article-header {
    -webkit-flex-basis: 360px;
        -ms-flex-preferred-size: 360px;
            flex-basis: 360px;
    max-width: 360px;
  }
}

@media screen and (max-width: 1366px) {
  .blog .article-header {
    -webkit-flex-basis: 336.5px;
        -ms-flex-preferred-size: 336.5px;
            flex-basis: 336.5px;
    max-width: 336.5px;
  }
}

@media screen and (max-width: 1024px) {
  .blog .article-header {
    max-width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .blog .article-header {
    max-width: 100%;
  }
}

.blog .article-header-img {
  width: -webkit-fill-available;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-article {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 35px 75px;
  color: #ffffff;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.blog-article:hover {
  background-color: #424242;
}

.blog-article__date {
  font-family: 'Crimson-Italic', sans-serif;
  display: inline-block;
  font-size: 0.857em;
  padding-bottom: 13px;
  position: relative;
}

.blog-article__date::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 150px;
  height: 2px;
  background-color: #454545;
}

.blog-article__date-author {
  text-transform: capitalize;
}

.blog-article__headline {
  margin-top: 18px;
  text-transform: uppercase;
  font-family: 'Montserrat-Regular', sans-serif;
}

.blog-article__title {
  margin-top: 40px;
  font-family: 'Crimson-Regular', sans-serif;
  height: auto;
  font-size: 1em;
  opacity: 0.7;
}

@media screen and (max-width: 1440px) {
  .blog-article {
    -webkit-flex-basis: 360px;
        -ms-flex-preferred-size: 360px;
            flex-basis: 360px;
    max-width: -webkit-calc( 360px - 70px);
    max-width: calc( 360px - 70px);
  }
}

@media screen and (max-width: 1366px) {
  .blog-article {
    -webkit-flex-basis: 336.5px;
        -ms-flex-preferred-size: 336.5px;
            flex-basis: 336.5px;
    max-width: -webkit-calc( 336.5px - 70px);
    max-width: calc( 336.5px - 70px);
  }
}

@media screen and (max-width: 1024px) {
  .blog-article {
    -webkit-flex-basis: 256px;
        -ms-flex-preferred-size: 256px;
            flex-basis: 256px;
    max-width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .blog-article {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blog-article__title {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 425px) {
  .blog-article__title {
    font-size: 0.929em;
  }
}

.clients {
  padding-top: 68px;
}

.clients-img-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 83px;
}

.clients-img-block__item {
  width: 136px;
  height: 116px;
}

.clients-content {
  background-image: url(../img/testemonialsSlider/Background-Image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.clients-content .container {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding: 75px 0 70px;
}

.clients-content__slider {
  padding: 0 100px;
  margin-bottom: 75px;
}

.clients-content__slider-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  line-height: 1;
  color: #ffffff;
  font-size: 14px;
  font-family: 'Montserrat-Regular', sans-serif;
}

.clients-content__slider-img {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

.clients-content__slider-quote {
  display: inline-block;
  margin: 60px 0 55px;
  font-size: 20px;
  font-family: 'Crimson-Italic', sans-serif;
  quotes: "“" "”";
}

.clients-content__slider-quote:before {
  content: '\275D';
  font-size: 40px;
}

.clients-content__slider-quote:after {
  content: '\275F\275F';
  font-size: 40px;
}

.clients-content__slider-author {
  font-size: 13px;
  text-transform: uppercase;
  line-height: 4;
}

.clientSlide {
  display: none;
}

.clientSlide__dot-container {
  text-align: center;
  padding: 20px;
}

.clientSlide-dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  -o-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.clientSlide-dot:hover {
  background-color: #717171;
}

.active {
  background-color: #717171;
}

.map {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  height: 515px;
  max-height: 515px;
  background-image: url(../img/other/map.png);
  background-size: cover;
  background-position: center center;
}

.map__geotag {
  position: absolute;
  right: 970px;
  bottom: 250px;
  display: block;
}

.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60px;
  height: 12px;
}

.social-link--divider::before {
  content: '|';
}

.social-link--divider::after {
  content: '|';
}

.section-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  text-align: center;
}

.section-header__headline {
  font-family: "Amsdam-Regular", sans-serif;
  font-size: 1.429em;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #3e3d3d;
}

.section-header__headline--light {
  font-family: "Amsdam-Regular", sans-serif;
  font-size: 1.429em;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.section-header__title {
  margin-top: 38px;
  margin-bottom: 58px;
}

.section-header__title {
  font-family: "Crimson-Roman", sans-serif;
  font-size: 1em;
  font-weight: 550;
  text-align: center;
  color: #3e3d3d;
}

.section-header__title--light {
  font-family: "Crimson-Roman", sans-serif;
  font-size: 1em;
  font-weight: 550;
  text-align: center;
  color: #ffffff;
}
