@mixin amsdam-regular {
  font-family: 'Amsdam-Regular', sans-serif;
}
@mixin crimson-roman {
  font-family: 'Crimson-Roman', sans-serif;
}
@mixin montserrat-regular {
  font-family: 'Montserrat-Regular', sans-serif;
}

$crimson-roman: 'Crimson-Roman', sans-serif;

$amsdam-regular: 'Amsdam-Regular', sans-serif;