.slider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  &__item {
    max-width: rem(200);
    padding: 15px 15px 140px;
    font-size: em(10);
    @include sm-block() {
      max-width: rem(300);
      font-size: em(12);
    }
    @include md-block() {
      max-width: rem(500);
      font-size: em(16);
    }
  }

  &__sup-headline {
    @include font(em(18), 400, $crimsonRoman);
  }

  &__headline {
    margin-top: 25px;
    padding: 30px 15px;
    line-height: 1.5;
    text-transform: uppercase;
    @include font(em(32), 400, $amsdam);
    border: {
      top: em(7) solid transparent;
      bottom: em(7) solid transparent;
    }
    border-left: none;
    border-right: none;
    border-image: url(../img/other/wave-divider-light.png) 2000 0 repeat;
  }

  &__link {
    position: relative;
    bottom: -40px;
    margin: 0 auto;
    padding: 15px 30px;
    border: 2px solid $bdr-light;
    color: $font-light;
    text-transform: capitalize;
    white-space: nowrap;
    @include font(em(20), 400, $monserrat);
    &:hover {
      color: $font-fgrey;
    }

    &::before {
      content: url(../img/slider/Arrow.png);
      position: absolute;
      left: 50%;
      bottom: rem(-48);
      transform: translateX(-50%);
    }
  }

  & button.slick-arrow {
    position: absolute;
    z-index: 999;
    top: calc(25% + 1vw);
    display: block;
    width: 35px;
    height: 35px;
    background: $bg-light;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    @include font(0, 400, $family: $amsdam) &.slick-prev {
      left: 0;
      &::after {
        content: "<";
        line-height: 0.5;
        font-size: 20px;
      }
    }
    &.slick-next {
      right: 0;
      &::after {
        content: ">";
        line-height: 0.5;
        font-size: 20px;
      }
    }
  }
}
