.aboutus {
  padding: 72px 0 60px;

  & .aboutus-content {
    background-color: $bg-light;
    @include font(em(13), 600, $monserrat);
    padding: 0 70px;
    &__img {
      width: 100%;
      height: auto;
    }
    &__seotxt {
      text-align: center;
      @include sm-block() {
        text-align: right;
      }
      @include font(em(14), 400, $crimsonRoman);
    }
    &__link-wrap {
      text-align: center;
      padding: 50px 0;
    }
    &__link {
      display: inline-block;
      padding: 14px 26px;
      margin-bottom: 5px;
      color: $font-dark;
      background: transparent;
      border: 2px solid $bdr-dark;
      &:hover {
        background: $bg-dark;
        color: $font-light;
      }
    }
  } // end .aboutus-content

  & .aboutus-aboutwork {
    margin-top: 40px;
    text-align: center;
    @include md-block() {
      text-align: left;
    }
    &__work-item {
      display: inline-block;
      @include size-xs(10);
      @include size-sm(6);
      @include size-md(4);
      padding: 40px 0;
      text-align: center;
      border-bottom: 1px solid $bdr-grey;
      @include md-block() {
        max-width: calc(25% - 4px);
        border-bottom: none;
      }
      @include md-block() {
      }
      &:nth-child(1) {
        @include md-block() {
          border-right: 1px solid $bdr-grey;
        }
      }
      &:nth-child(2) {
        @include md-block() {
          border-right: 1px solid $bdr-grey;
        }
      }
      &:nth-child(3) {
        @include md-block() {
          border-right: 1px solid $bdr-grey;
        }
      }

      .work-item {
        &__icon {
          display: block;
          margin: 0 auto;
        }
        &__info {
          display: block;
          font: {
            size: 0.929em;
            weight: 550;
          }
          margin: 22px 0 28px;
          color: $font-dark;
        }

        &__count {
          display: block;
          font: {
            size: 2.8em;
            weight: 600;
          }
          color: $font-dark;
        }
      }
    } //-end __work-item
  }
}
