.main-header {
  color: $font-dark;
  background-image: url("../img/slider/Image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

// main-nav

.main-nav {
  padding: 15px $offset;
  background: $bg-light;
  @include font(em(12), 400,$monserrat,);
  // line-height: 65px;
  & .container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: inline-block;
    @include font(em(24), 400, $monserrat);
    &:visited {
      color: $main-logo-grey;
    }
  }
  &__logo-img {
    margin-right: 10px;
  }
  &__logo-text {
    display: inline-block;
    transform: translateY(-25%);
  }
  // end logo

  &__menu {
    display: none;
    @include lg-block() {
      display: inline-flex;
      flex-basis: 60%;
    }
    max-width: 60%;
    color: $main-link-color;

    &-item {
      margin-right: 16px;

      &:last-child {
        margin-right: 0;
      }
    }

    &-link {
      @include font(em(16), 400);
      text-transform: uppercase;
      color: $main-link-color;

      &:hover {
        color: $main-link-hover;
      }

      // &:visited {
      //   color: $font-dark;
      // }
    }
  }
  // end menu
}
// end nav

// header_hero
.header-hero {
  width: 100%;
  color: $font-light;
  padding: 180px 0 200px;
} // end header-hero
