// atlantida general colors
$bg-white: #ffffff;
$content-main: #3e3d3d;
$content-hover: #555557;
$font-dark: #3e3d3d;
$font-light: #d8d8d8;
$logo-grey: #757575;
$menu-grey: #aaaaaa;

$bh-bb: #605f5f;
$bg-grey: #e3e3e3;

$h-col: #cecece;

$bb-col: #b0b0b0;

$ss-col: #bfbfbf;

$bb-s-color: #898989;
