// atlantida general colors

// elemets color
 // main elements
	$main-logo-grey: #757575;
	$main-menu-grey: #aaaaaa;
 // border color
	$brd-grey: #b0b0b0;
	$brd-dark: #3e3d3d;
	$brd-light: #ffffff;
	$brd-grey-d: #454545;

// font color
	// text
	$font-dark: #3e3d3d;
	$font-fgrey: #949494;
	$font-lgrey: #d8d8d8;
	$font-grey: #cecece;
	$font-light: #ffffff;

	// links
	$main-link-color: #aaaaaa;
	$main-link-hover: #555557;

// background color

$bg-light: #ffffff;
$bg-grey: #e3e3e3;
$bg-dark: #3e3d3d;


// block base color

// _history
$bh-bb: #605f5f;
$ss-col: #bfbfbf;
$bb-s-color: #898989;
$bs-hist: #ededed;
$bh-hist: #d3d3d3;

// _quality
$q-bg-dark: #2d2d2f;

// _blog
$ba-bg-dark: #2d2d2f;
$ba-bg-hover: #424242;

// _footer
$bg-submit: #464646;
$bg-submit-hover: #2d2d2f;

$brd-valid: #b9f8dc;
$brd-invalid: #f66558;

// color mixins

@mixin d-grey ($type) {
	$d-grey: #3e3d3d;

	@if $type == bg {
		background: $d-grey;
	} @else if $type == color {
			color: $d-grey;
	}
}
