// Tools

.divider {
  margin-top: -20px;
  display: inline-block;
  font-size: 25px;
  letter-spacing: -4.5px;
  color: $font-dark;
  transform: scale(1, 2);
} // end divider

.icon{

	&__awards{
		display: inline-block;
		width: 38px;
		height: 41px;
		background: url('../img/about us/icon-award.png');
	}

	&__jobs{
		display: inline-block;
		width: 41px;
		height: 40px;
		background: url('../img/about us/icon-checked.png');
	}

	&__happy{
		display: inline-block;
		width: 33px;
		height: 39px;
		background: url('../img/about us/icon-dima.png');
	}

	&__reviews{
		display: inline-block;
		width: 41px;
		height: 37px;
		background: url('../img/about us/icon-briefcase.png');
	}
} // end icon
