@font-face{
  font-family: "Amsdam-Regular";
  font-weight: 400;
  src: url("../fonts/Amsdam-Regular.ttf");
}
@font-face{
  font-family: "Crimson-Regular";
  font-weight: 400;
  src: url("../fonts/Crimson-Text-regular.ttf");
}
@font-face{
  font-family: "Crimson-Italic";
  font-weight: 400;
  src: url("../fonts/Crimson-Text-italic.ttf");
}
@font-face{
  font-family: "Crimson-Roman";
  font-weight: 400;
  src: url("../fonts/crimsontext.ttf");
}
@font-face{
  font-family: "Montserrat-Regular";
  font-weight: 400;
  src: url("../fonts/Montserrat-regular.ttf");
}
@font-face{
  font-family: "Montserrat-Italic";
  font-weight: 400;
  src: url("../fonts/Montserrat-italic.ttf");
}



html,
body{
  @include crimson-roman;
  font-size: 16px;
}
