html,
body {
  font-family: "CrimsonTextRoman";
}

// Global styles

.container {
  @include container();
  @include sm(max-width, rem(510));
  @include md(max-width, rem(690));
  @include lg(max-width, rem(930));
  @include xl(max-width, rem(1110));
  @include xs-block() {
    padding-left: $fields;
    padding-right: $fields;
  }
  @include sm-block() {
    padding-left: $fields * 2;
    padding-right: $fields * 2;
  }
}

// Tools

#section__headline {
  align-self: center;
  box-sizing: content-box;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.icon {
  &__awards {
    display: inline-block;
    width: 38px;
    height: 41px;
    background: url("../img/aboutUs/icon-award.png");
  }

  &__jobs {
    display: inline-block;
    width: 41px;
    height: 40px;
    background: url("../img/aboutUs/icon-checked.png");
  }

  &__happy {
    display: inline-block;
    width: 33px;
    height: 39px;
    background: url("../img/aboutUs/icon-dima.png");
  }

  &__reviews {
    display: inline-block;
    width: 41px;
    height: 37px;
    background: url("../img/aboutUs/icon-briefcase.png");
  }
} // end icon

// global section headline styles
.section-header {
  display: block;
  margin: 0 auto;
  text-align: center;
  @include font(em(20), 400, $amsdam);
  text-transform: uppercase;
  white-space: nowrap;
  &__headline {
    display: inline-block;
    padding: 30px 25px 25px 25px;
    margin-bottom: 20px;
    @include sm-block() {
      padding: 60px 25px 25px 25px;
      margin-bottom: 40px;
    }
    color: $font-dark;
    border-bottom: 3px solid transparent;
    border-left: none;
    border-right: none;
    border-image: url(../img/other/divider-dark.png) 150 round;
    &--light {
      padding-top: 70px;
      color: $font-light;
      border-image: url(../img/other/divider.png) 150 round;
    }
  }

  &__title {
    margin-top: 38px;
    margin-bottom: 58px;
    font-family: "CrimsonTextRoman";
    color: $font-dark;
    &--light {
      color: $font-light;
    }
  }
}

// social links global styles

.social {
  display: flex;
  justify-content: space-between;
  width: 60px;
  height: 12px;
} // social

.social-item {
  &__link {
    &--divider {
      &::before {
        content: "|";
      }

      &::after {
        content: "|";
      }
    }
  } // end link
}
